<div id="newPool" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <%= form_for @newPool do |f| %>
            <div class="modal-content">

                <div class="modal-header">
                    <h4>New Order Group</h4>
                </div><!-- End of Modal Header -->

                <div class="modal-body">

                        <div class="input-group mb-2">
                            <span class="input-group-prepend"><%= f.label :name, class: "input-group-text" %></span>
                                <%= f.text_field :name, class: "form-control" %>
                        </div>

                </div><!-- End of Modal Body -->

                <div class="modal-footer">
                    <%= f.submit 'Submit', class: "btn btn-primary" %>
                    <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
                </div><!-- End of Modal Footer -->

            </div><!-- End of Modal Content -->
        <% end %>

    </div><!-- End of modal-dialog -->
</div><!-- End of Modal newVersion -->