  <div class="container">

    <%= render 'layouts/error' %>

    <div class="row">
        <%= button_tag 'New Order Group', class: "btn btn-primary btn-sm", "data-toggle" => "modal", "data-target" => "#newPool" %>
      <div class="col">
        <h1>List of Order Groups</h1>
      </div>
    </div>

    <div class="row">
      <table class="table table-hover table-striped">
        <thead>
          <th class="text-center" width="14%">Status?</th>
          <th class="text-center" width="10%">#</th>
          <th>Name</th>
        </thead>
        <tbody>
    <% i = 1 %>
    <% @pools.each do |t| %>
          <tr>
            <td>
              <div class="btn-group">
                <% if t.is_enabled == 0 %>
                  <%= link_to 'Enable', changePoolStatus_path(t), class: "btn btn-sm btn-primary" %>
                  <%= link_to 'Disable', changePoolStatus_path(t), class: "btn btn-sm btn-outline-primary disabled" %>
                <% else %>
                  <%= link_to 'Enable', changePoolStatus_path(t), class: "btn btn-sm btn-outline-primary disabled" %>
                  <%= link_to 'Disable', changePoolStatus_path(t), class: "btn btn-sm btn-primary" %>
                <% end %>
              </div>
            </td>
            <td class="text-center"><%= i %></td>
            <td><%= t.name %></td>
          </tr>
        <% i +=1 %>
    <% end %>
        </tbody>
      </table>
    </div>
  </div>

<!-- Starting of the Modal for Creation of a new Clonezilla -->
<%= render 'newPoolBtn' %>