<%= form_with model: @keyfile, local: true do |form| %>

<p>
  <%= form.label :keyfile_type %><br />
  <% if params[:keyfile_type] %>
    <%= form.text_field :keyfile_type, :value => params[:keyfile_type], :readonly => true %>
  <% else %>
    <%= form.text_field :keyfile_type, :value => @keyfile.keyfile_type, :readonly => true %>
  <% end %>
</p>

<% dataindex = [:bios, :winver, :issixtyfourbit, :winreleaseid, :winacttype, :winupdatecheck, :bitlockerstatus, :useraccount, :accountlogo, :wallpaper, :fonts, :servicewinupdate, :wirelessautoconnect, :devicemanager, :eventviewapp, :eventviewsys, :edgenewtab, :edgehomebutton, :edgehomepagebutton, :firefoxver, :officever, :act, :offact, :eclear, :updatescript, :description, :legalnotice, :officeinstructions] %>
<% dataindex.each do |x| %>
  <p>
    <%= form.label x %><br />
    <%= form.text_field x %>
  </br/>
  </p>
<% end %>

<p>
  <%= form.submit class: "btn btn-success"%>
</p>

<% end %>
