<p>
  <strong>Keyfile type</strong>
  <%= @keyfile.keyfile_type %>
</p>

<p>
  <strong>BIOS:</strong>
  <%= @keyfile.bios %>
</p>

<p>
  <strong>Winver:</strong>
  <%= @keyfile.winver %>
</p>

<p>
  <strong>Winreleaseid:</strong>
  <%= @keyfile.winreleaseid %>
</p>

<p>
  <strong>Winacttype:</strong>
  <%= @keyfile.winacttype %>
</p>

<p>
  <strong>Winupdatecheck:</strong>
  <%= @keyfile.winupdatecheck %>
</p>

<p>
  <strong>Bitlockerstatus:</strong>
  <%= @keyfile.bitlockerstatus %>
</p>

<p>
  <strong>Useraccount:</strong>
  <%= @keyfile.useraccount %>
</p>

<p>
  <strong>Accountlogo:</strong>
  <%= @keyfile.accountlogo %>
</p>

<p>
  <strong>Wallpaper:</strong>
  <%= @keyfile.wallpaper %>
</p>

<p>
  <strong>Fonts:</strong>
  <%= @keyfile.fonts %>
</p>

<p>
  <strong>Servicewinupdate:</strong>
  <%= @keyfile.servicewinupdate %>
</p>

<p>
  <strong>Startuponedrive:</strong>
  <%= @keyfile.startuponedrive %>
</p>

<p>
  <strong>Securityhealth:</strong>
  <%= @keyfile.securityhealth %>
</p>

<p>
  <strong>Settingfeedback:</strong>
  <%= @keyfile.settingfeedback %>
</p>

<p>
  <strong>SettingNotify1:</strong>
  <%= @keyfile.settingnotify1 %>
</p>

<p>
  <strong>SettingNotify2:</strong>
  <%= @keyfile.settingnotify2 %>
</p>

<p>
  <strong>Settingwifi:</strong>
  <%= @keyfile.settingwifi %>
</p>

<p>
  <strong>Powerplan:</strong>
  <%= @keyfile.powerplan %>
</p>

<p>
  <strong>Trayicon:</strong>
  <%= @keyfile.trayicon %>
</p>

<p>
  <strong>Uac:</strong>
  <%= @keyfile.uac %>
</p>

<p>
  <strong>Autorun:</strong>
  <%= @keyfile.autorun %>
</p>

<p>
  <strong>Wirelessautoconnect:</strong>
  <%= @keyfile.wirelessautoconnect %>
</p>

<p>
  <strong>Devicemanager:</strong>
  <%= @keyfile.devicemanager %>
</p>

<p>
  <strong>Eventviewapp:</strong>
  <%= @keyfile.eventviewapp %>
</p>

<p>
  <strong>Eventviewsys:</strong>
  <%= @keyfile.eventviewsys %>
</p>

<p>
  <strong>Chromever:</strong>
  <%= @keyfile.chromever %>
</p>

<p>
  <strong>Edgenewtab:</strong>
  <%= @keyfile.edgenewtab %>
</p>

<p>
  <strong>Edgehomebutton:</strong>
  <%= @keyfile.edgehomebutton %>
</p>

<p>
  <strong>Edgehomepagebutton:</strong>
  <%= @keyfile.edgehomepagebutton %>
</p>

<p>
  <strong>Firefoxver:</strong>
  <%= @keyfile.firefoxver %>
</p>

<p>
  <strong>Flashver:</strong>
  <%= @keyfile.flashver %>
</p>

<p>
  <strong>Javaver:</strong>
  <%= @keyfile.javaver %>
</p>

<p>
  <strong>Mcafeeagentver:</strong>
  <%= @keyfile.mcafeeagentver %>
</p>

<p>
  <strong>Mcafeevsever:</strong>
  <%= @keyfile.mcafeevsever %>
</p>

<p>
  <strong>Officever:</strong>
  <%= @keyfile.officever %>
</p>

<p>
  <strong>Vlcver:</strong>
  <%= @keyfile.vlcver %>
</p>

<p>
  <strong>Vlcconf:</strong>
  <%= @keyfile.vlcconf %>
</p>

<p>
  <strong>Sevenzipver:</strong>
  <%= @keyfile.sevenzipver %>
</p>

<p>
  <strong>Flashsettings:</strong>
  <%= @keyfile.flashsettings %>
</p>

<p>
  <strong>Startupjava:</strong>
  <%= @keyfile.startupjava %>
</p>

<p>
  <strong>Vlcshortcut:</strong>
  <%= @keyfile.vlcshortcut %>
</p>

<p>
  <strong>Pptshortcut:</strong>
  <%= @keyfile.pptshortcut %>
</p>

<p>
  <strong>Timershortcut:</strong>
  <%= @keyfile.timershortcut %>
</p>

<p>
  <strong>Wmpshortcut:</strong>
  <%= @keyfile.wmpshortcut %>
</p>

<p>
  <strong>Mcafeelastupdate:</strong>
  <%= @keyfile.mcafeelastupdate %>
</p>

<p>
  <strong>Officepptfix:</strong>
  <%= @keyfile.officepptfix %>
</p>

<p>
  <strong>Act:</strong>
  <%= @keyfile.act %>
</p>

<p>
  <strong>Offact:</strong>
  <%= @keyfile.offact %>
</p>

<p>
  <strong>Eclear:</strong>
  <%= @keyfile.eclear %>
</p>

<p>
  <strong>Updatescript:</strong>
  <%= @keyfile.updatescript %>
</p>

<p>
  <strong>Description:</strong>
  <%= @keyfile.description %>
</p>
