<%= form_with model: @keyfile, local: true do |form| %>

<p>
  <%= form.label :keyfile_type %><br />
  <% if params[:keyfile_type] %>
    <%= form.text_field :keyfile_type, :value => params[:keyfile_type], :readonly => true %>
  <% else %>
    <%= form.text_field :keyfile_type, :value => @keyfile.keyfile_type, :readonly => true %>
  <% end %>
</p>

<% dataindex = [:bios, :winver, :issixtyfourbit, :winreleaseid, :winacttype, :winupdatecheck, :bitlockerstatus, :useraccount, :accountlogo, :wallpaper, :fonts, :servicewinupdate, :startuponedrive, :securityhealth, :settingfeedback, :settingnotify1, :settingnotify2, :settingwifi, :powerplan, :trayicon, :uac, :autorun, :wirelessautoconnect, :devicemanager, :eventviewapp, :eventviewsys, :chromever, :edgenewtab, :edgehomebutton, :edgehomepagebutton, :firefoxver, :flashver, :javaver, :mcafeeagentver, :mcafeevsever, :officever, :vlcver, :vlcconf, :sevenzipver, :flashsettings, :startupjava, :vlcshortcut, :pptshortcut, :timershortcut, :wmpshortcut, :mcafeelastupdate, :officepptfix, :act, :offact, :eclear, :updatescript, :description] %>
<% dataindex.each do |x| %>
  <p>
    <%= form.label x %><br />
    <%= form.text_field x %>
  </br/>
  </p>
<% end %>

<p>
  <%= form.submit class: "btn btn-success" %>
</p>

<% end %>
