<%= form_with model: @keyfile, local: true do |form| %>

<p>
  <%= form.label :keyfile_type %><br />
  <% if params[:keyfile_type] %>
    <%= form.text_field :keyfile_type, :value => params[:keyfile_type], :readonly => true %>
  <% else %>
    <%= form.text_field :keyfile_type, :value => @keyfile.keyfile_type, :readonly => true %>
  <% end %>
</p>

<p>
  <%= form.label :bios %><br />
  <%= form.text_field :bios %>
</p>

<p>
  <%= form.label :winver %><br />
  <%= form.text_field :winver, :value => 'VARIES - Check Manually' %>
</p>

<p>
  <%= form.label :winreleaseid %><br />
  <%= form.text_field :winreleaseid, :value => '1709' %><br />
</p>

<p>
  <%= form.label :winacttype %><br />
  <%= form.text_field :winacttype, :value => 'VOLUME_KMSCLIENT channel' %><br />
</p>

<p>
  <%= form.label :winupdatecheck %><br />
  <%= form.text_field :winupdatecheck, :value => 'VARIES - Check Manually' %><br />
</p>

<p>
  <%= form.label :bitlockerstatus %><br />
  <%= form.text_field :bitlockerstatus, :value => '0' %><br />
</p>

<p>
  <%= form.label :useraccount %><br />
  <%= form.text_field :useraccount, :value => 'Intel' %><br />
</p>

<p>
  <%= form.label :accountlogo %><br />
  <%= form.text_field :accountlogo, :value => '1' %><br />
</p>

<p>
  <%= form.label :wallpaper %><br />
  <%= form.text_field :wallpaper, :value => '592D6A893B8A10E33C24AD3460965BB5F5E414EF2E5E9201FA61EB08186752FD' %><br />
</p>

<p>
  <%= form.label :fonts %><br />
  <%= form.text_field :fonts, :value => '1' %><br />
</p>

<p>
  <%= form.label :servicewinupdate %><br />
  <%= form.text_field :servicewinupdate, :value => 'Disabled' %><br />
</p>

<p>
  <%= form.label :startuponedrive %><br />
  <%= form.text_field :startuponedrive, :value => '0' %><br />
</p>

<p>
  <%= form.label :securityhealth %><br />
  <%= form.text_field :securityhealth, :value => '0' %><br />
</p>

<p>
  <%= form.label :settingfeedback %><br />
  <%= form.text_field :settingfeedback, :value => '0' %><br />
</p>

<p>
  <%= form.label :settingnotify1 %><br />
  <%= form.text_field :settingnotify1, :value => '0' %><br />
</p>

<p>
  <%= form.label :settingnotify2 %><br />
  <%= form.text_field :settingnotify2, :value => '0' %><br />
</p>

<p>
  <%= form.label :settingwifi %><br />
  <%= form.text_field :settingwifi, :value => '0' %><br />
</p>

<p>
  <%= form.label :powerplan %><br />
  <%= form.text_field :powerplan, :value => 'VARIES - Check Manually' %><br />
</p>

<p>
  <%= form.label :trayicon %><br />
  <%= form.text_field :trayicon, :value => '1' %><br />
</p>

<p>
  <%= form.label :uac %><br />
  <%= form.text_field :uac, :value => '0' %><br />
</p>

<p>
  <%= form.label :autorun %><br />
  <%= form.text_field :autorun, :value => '0' %><br />
</p>

<p>
  <%= form.label :wirelessautoconnect %><br />
  <%= form.text_field :wirelessautoconnect, :value => 'DemoDepot5G DemoDepot' %><br />
</p>

<p>
  <%= form.label :devicemanager %><br />
  <%= form.text_field :devicemanager, :value => '0 Issue(s)' %><br />
</p>

<p>
  <%= form.label :eventviewapp %><br />
  <%= form.text_field :eventviewapp, :value => '0 (C) 0 (E) 0 (W)' %><br />
</p>

<p>
  <%= form.label :eventviewsys %><br />
  <%= form.text_field :eventviewsys, :value => '0 (C) 0 (E) 0 (W)' %><br />
</p>

<p>
  <%= form.label :chromever %><br />
  <%= form.text_field :chromever, :value => '63.0.3239.132' %><br />
</p>

<p>
  <%= form.label :edgenewtab %><br />
  <%= form.text_field :edgenewtab, :value => 'Blank Page' %><br />
</p>

<p>
  <%= form.label :edgehomebutton %><br />
  <%= form.text_field :edgehomebutton, :value => '1' %><br />
</p>

<p>
  <%= form.label :edgehomepagebutton %><br />
  <%= form.text_field :edgehomepagebutton, :value => 'http://www.intel.com' %><br />
</p>

<p>
  <%= form.label :firefoxver %><br />
  <%= form.text_field :firefoxver, :value => '57.0.4 (x86 en-US)' %><br />
</p>

<p>
  <%= form.label :flashver %><br />
  <%= form.text_field :flashver, :value => '28.0.0.137' %><br />
</p>

<p>
  <%= form.label :javaver %><br />
  <%= form.text_field :javaver, :value => '9.0.1 12.0.1.0' %><br />
</p>

<p>
  <%= form.label :mcafeeagentver %><br />
  <%= form.text_field :mcafeeagentver, :value => '5.0.5.658' %><br />
</p>

<p>
  <%= form.label :mcafeevsever %><br />
  <%= form.text_field :mcafeevsever, :value => '8.8.0.1804 Patch_9' %><br />
</p>

<p>
  <%= form.label :officever %><br />
  <%= form.text_field :officever, :value => 'Microsoft Office Professional Plus 2013' %><br />
</p>

<p>
  <%= form.label :vlcver %><br />
  <%= form.text_field :vlcver, :value => '2.2.8' %><br />
</p>

<p>
  <%= form.label :vlcconf %><br />
  <%= form.text_field :vlcconf, :value => '1D0B06882F5A8CFD3DEAAA5E728D61BB68BA321DAEC4414993974F50B855342B' %><br />
</p>

<p>
  <%= form.label :sevenzipver %><br />
  <%= form.text_field :sevenzipver, :value => '16.04.00.0' %><br />
</p>

<p>
  <%= form.label :flashsettings %><br />
  <%= form.text_field :flashsettings, :value => '0' %><br />
</p>

<p>
  <%= form.label :startupjava %><br />
  <%= form.text_field :startupjava, :value => '0' %><br />
</p>

<p>
  <%= form.label :vlcshortcut %><br />
  <%= form.text_field :vlcshortcut, :value => '1' %><br />
</p>

<p>
  <%= form.label :pptshortcut %><br />
  <%= form.text_field :pptshortcut, :value => '1' %><br />
</p>

<p>
  <%= form.label :timershortcut %><br />
  <%= form.text_field :timershortcut, :value => '1' %><br />
</p>

<p>
  <%= form.label :wmpshortcut %><br />
  <%= form.text_field :wmpshortcut, :value => '1' %><br />
</p>

<p>
  <%= form.label :mcafeelastupdate %><br />
  <%= form.text_field :mcafeelastupdate, :value => 'VARIES - Check Manually' %><br />
</p>

<p>
  <%= form.label :officepptfix %><br />
  <%= form.text_field :officepptfix, :value => '1' %><br />
</p>

<p>
  <%= form.label :act %><br />
  <%= form.text_field :act, :value => '1' %><br />
</p>

<p>
  <%= form.label :offact %><br />
  <%= form.text_field :offact, :value => '1' %><br />
</p>

<p>
  <%= form.label :eclear %><br />
  <%= form.text_field :eclear, :value => '1' %><br />
</p>

<p>
  <%= form.label :updatescript %><br />
  <%= form.text_field :updatescript, :value => '1' %><br />
</p>

<p>
  <%= form.label :description %><br />
  <%= form.text_field :description, :value => 'VARIES - Check Manually' %><br />
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
