<h1>Listing Keyfiles</h1>
<%= link_to 'New USDD Keyfile', new_keyfile_path(:keyfile_type => 'USDD'), class: "btn btn-success" %>
<%= link_to 'New iDDR Keyfile', new_keyfile_path(:keyfile_type => 'iDDR'), class: "btn btn-success" %>
<table class="table table-striped table-hover">
  <thead>
    <th>
      Date
    </th>
    <th>
      Keyfile Type
    </th>
  </thead>

  <% @keyfiles.each do |keyfile| %>
    <tr>
      <td>
        <%= link_to keyfile.created_at.strftime("%B %d, %Y"), keyfile_path(keyfile) %>
      </td>
      <td>
        <%= keyfile.keyfile_type %>
      </td>
      <td>
        <%= link_to 'Edit', edit_keyfile_path(keyfile) %>
      </td>
      <td>
        <%= link_to 'Destroy', keyfile_path(keyfile),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
