<div class="col-md-3">

    <div class="row">
        <div class="col text-right">
            <%= button_tag 'New Clonezilla Version', class: "btn btn-primary btn-sm", "data-toggle" => "modal", "data-target" => "#newVersion" %>    
        </div>
    </div><!-- End of Clonezilla buttons -->

    <div class="row">
        <div class="col">
            <%= render 'clonezilla_versions/assets/listCV' %>
        </div>
    </div><!-- End of list of the autozillas -->

</div><!-- End of Col-md-2 for Listing all Autozilla with a new button -->
            
<div class="col-md-8">
    
    <div class="row">
        <div class="col">
            <%= render 'layouts/error' %>
        </div>
    </div><!-- End of Row for flash messages -->
    
    <div class="row">
        <div class="col">
            <h1><%= @cz.name %> <span class="badge badge-secondary"><%= @cz.version %></span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <% unless File.exist? "#{@czProduction}#{@cz.name}" %>
                <% if File.exist? "#{@incomingCZ}#{@cz.name}.zip" %>
                    <%= link_to 'Populate Files', populateCZ_path(@cz), class: "btn btn-success"  %>
                <% else %>
                    <p>
                        Please get a zip file from <a href="http://clonezilla.org/downloads.php">Clonezilla</a> Once downloaded, add zip file to share <%= link_to 'Incoming CZ', "file://#{@incomingCZ}" %>
                    </p>
                <% end %>
            <% end %>
        </div>
    </div><!-- End of Checking of if the binaries are available for Clonezilla -->

    <div class="row">
    
        <div class="col-md-2">
            <%= render 'statusBtn', cz: @cz %>
        </div><!--  End of row for buttons for disabling / enabling -->
    
        <div class="col-md-10">

            <%= form_for @cz do |f| %>
                <div class="input-group mb-2">
                    <div class="row">
                        <div class="col">
                        <%= f.label :description, class: "input-group-prepend input-group-text" %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <%= f.text_field :description, class: "form-control input-lg" %>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <%= submit_tag 'Submit', class: "btn btn-primary" %>
                        <%= f.label 'Location', class: "input-group-text" %>
                    </div>
                    <%= f.collection_select(:location_id, @locations, :id, :name, { include_blank: true},{class: "form-control"}) %>
                </div>
            <% end %><!-- End of form for Description / Location -->

        </div>
     </div><!-- End of Row for Description / Location -->
    
    <% ["upload", "download"].each do |direction| %>
        <div class="row">
            <div class="col">

                 <div class="row">
                    <div class="col">
                        
                        <h2>
                            <%= button_tag direction, class: "btn btn-info", "data-toggle" => "collapse", "data-target" => "#" + direction do %>
                                <%= icon('fas', 'angle-down') %>
                            <% end %>
                                <%= @cz.send("#{direction}").purpose %>
                        </h2>

                  </div>
                </div><!-- End of Row for Button toggle -->

                    <div class="row">
                      <div class="col">

                        <div id="<%= direction %>" class="row collapse">
                          <%= render 'clonezilla_versions/assets/paraForm', junBug: @cz.send("#{direction}"), cz: @cz.id %>
                        </div><!-- End of row that is collapsed with Grub Upload -->

                      </div>
                    </div><!-- End of Parameter sections -->

                </div><!-- End of Col for Up / Download -->
            </div><!-- End of Row for Upload / Download -->
        <% end %>

</div><!-- End of Content col-md-8 -->

<!-- Starting of the Modal for Creation of a new Clonezilla -->
<%= render 'newClonezillaBTN' %>