<div class="col-xs-3">
  <%= render 'clonezilla_versions/assets/listCV' %>
</div>

<div class="col-xs-8">
  <div class="row">
    <h1><%= @cv.name %></h1>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-1 text-left">
      <h3><%= @grubUpload.btldr %></h3>
    </div>
    <div class="col-xs-1 text-left">
      <h4><%= @grubUpload.purpose %></h4>
    </div>
  </div>
  <div class="row">
    <div class="well">
    <%= form_for @cv.grub_upload do |f| %>
        <p>
          <%= f.label :kernal %>
          <%= f.text_area :kernal %>
        </p>

        <p>
          <%= f.label :boot %>
          <%= f.text_area :boot %>
        </p>

        <%= @grubUpload.user_name %>

        <%= @grubUpload.union %>

        <%= @grubUpload.parameters_set1 %>

        <%= @grubUpload.edd %>

        <%= @grubUpload.parameters_set2 %>

        <%= @grubUpload.keyboardLayout %>

        <%= @grubUpload.ocs_prerun0 %>

        <%= @grubUpload.ocs_prerun1 %>

        <%= @grubUpload.ocs_prerun2 %>

        <%= @grubUpload.ocs_prerun3 %>

        <%= @grubUpload.ocs_prerun4 %>

        <%= @grubUpload.ocs_live_run %>

        <%= @grubUpload.ocs_live_keymap %>

        <%= @grubUpload.ocs_live_param %>

        <%= @grubUpload.ocs_live_batch %>

        <%= @grubUpload.locales %>

        <%= @grubUpload.vga %>

        <%= @grubUpload.ifname %>

        <%= @grubUpload.parameters_set3 %>

        <%= @grubUpload.fetch %>

    <% end %>
      <hr>
      <h4>Output -</h4>
    </div>
  </div>

</div>