<div class="col-xs-3">
  <%= render 'clonezilla_versions/assets/listCV' %>
</div>

<div class="col-xs-9">
  <div class="row">
    <h1><%= @cz.name %></h1>
    <hr>
  </div>


<% ["grub_upload", "grub_download", "syslinux_upload", "syslinux_download"].each do |bt| %>

  <div class="row">
    <div class="col-md-1">
      <%= button_tag class: "btn btn-info", "data-toggle" => "collapse", "data-target" => "#" + bt do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>

    <div class="text-left">
      <h2><%= @cz.send("#{bt}").btldr + " " + @cz.send("#{bt}").purpose %></h2>
    </div>

  </div>

  <div class="row">
    <div id="<%= bt %>" class="row collapse">
      <%= render 'clonezilla_versions/assets/paraForm', locals: {junBug: @cz.send("#{bt}"), item_id: @cz.id} %>
    </div><!-- End of row that is collapsed with Grub Upload -->
  </div>

<% end %>



</div>