<div class="col-xs-3">
  <%= render 'clonezilla_versions/assets/listCV' %>
</div>

<div class="col-xs-9">
  <div class="row">
    <h1><%= @cz.name %></h1>
    <hr>
  </div>
  <%= form_for @cz do |f| %>
  <div class="input-group">
     <span class="input-group-addon">Location -</span>
     <%= f.collection_select(:location_id, @locations, :id, :name, { include_blank: true},{class: "form-control"}) %>
     <%= submit_tag 'Submit' %>
  </div>
  <% end %>

<% ["upload", "download"].each do |direction| %>

  <div class="row">
    <h2>
      <%= button_tag class: "btn btn-info", "data-toggle" => "collapse", "data-target" => "#" + direction do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>

     <%= @cz.send("#{direction}").purpose %>

    </h2>
  </div>

  <div class="row">
    <div id="<%= direction %>" class="row collapse">
      <%= render 'clonezilla_versions/assets/paraForm', locals: {junBug: @cz.send("#{direction}"), clonezilla: @cz.id} %>
    </div><!-- End of row that is collapsed with Grub Upload -->
  </div>

<% end %>



</div>