  <div class="col-xs-8 col-xs-offset-2">

    <%= render 'layouts/error' %>

    <div class="row">
        <h1>List of CloneZilla Versions</h1>
        <%= button_tag 'New Clonezilla Version', class: "btn btn-primary btn-sm", "data-toggle" => "modal", "data-target" => "#newVersion" %>
    </div>

    <div class="row">
      <table class="table table-hover table-striped">
        <thead>
          <th>Status?</th>
          <th>#</th>
          <th>Name</th>
          <th>Created</th>
        </thead>
        <tbody>
    <% i = 1 %>
    <% @czvs.each do |t| %>
          <tr class="<%= t.is_enabled == 1 ? "success" : "danger" %>", data-link="<%= edit_clonezilla_version_path(t) %>" >
            <td><%= link_to t.is_enabled == 1 ? 'Disable': 'Enable', clonezilla_version_path(t),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                    </td>
            <td><%= link_to 'Edit', edit_clonezilla_version_path(t) %></td>
            <td><%= i %></td>
            <td><%= t.name %></td>
            <td><%= t.created_at.strftime("%d%b%Y") %></td>
          </tr>
        <% i +=1 %>
    <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="newVersion" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismis="modal">&times;</button>
          <h4>New Clonezilla Verison</h4>
        </div><!-- End of Modal Header -->

        <div class="modal-body">
          <%= form_for @newCV do |f| %>
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :name %></span>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :description %></span>
              <%= f.text_area :description, class: "form-control" %>
            </div>
        </div><!-- End of Modal Body -->

        <div class="modal-footer">
            <%= f.submit 'Submit', class: "btn btn-primary" %>
            <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
          <% end %>
        </div><!-- End of Modal Footer -->

      </div><!-- End of Modal Content -->

    </div><!-- End of dialog -->
  </div><!-- End of Modal Div -->