<div class="row">

  <div class="col-xs-3">

    <h1>Operating System</h1>

    <hr>

    <%= link_to 'New OS', new_ose_path, class: "btn btn-warning" %>

  </div>

  <div class="col-xs-8">
    <div class="row">
      <h2>All OSes...</h2>
    </div>

    <div class="row">
      <table class="table table-hover table-stripped">
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Enabled?</th>
        </thead>
        <tbody>
          <% i = 1 %>
          <% @oses.each do |os| %>
            <tr>
              <td><%= i %></td>
              <td><%= os.name %></td>
              <td><%= os.description %></td>
              <td><%= is_enabled?(os.is_enabled) %></td>
              <td><%= link_to 'Edit', edit_ose_path(:id) %></td>
            </tr>
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>