  <div class="container">
    
    <div class="row">
            <%= button_tag 'New OS', class: "btn btn-primary btn-sm", "data-toggle" => "modal", "data-target" => "#newOS" %>
        <div class="col">
            <h1>All Operating Systems</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">      
            <table class="table table-hover table-stripped">
                <thead>
                  <th class="text-center" width="5%">Status?</th>
                  <th class="text-center" width="5%">#</th>
                  <th>Name</th>
                </thead>
            <tbody>
                <% i = 1 %>
                <% @oses.each do |os| %>
                    <tr class="<%= os.is_enabled == 1 ? "success" : "danger" %>" >
                        <td><%= render 'changeStatus', os: os %></td>
                        <td><%= i %></td>
                        <td><%= os.name %></td>
                    </tr>
                    <% i += 1 %>
                <% end %>
            </tbody>
        </table>
    </div>

  </div>

</div>

<%= render 'newOSBtn' %>
