<%= form_for locals[:junBug] do |f| %>
  <div class="well">
    <div class="row">
      <%= f.submit class: "btn btn-warning" %>
      <br><br>
        <%= hidden_field_tag locals[:item_id] %>

      <% ["params_set", "edd", "locales", "flags"].each do |czp| %>
        <div class="form-group col-md-2">
          <%= f.label czp.to_sym %>
          <%= f.text_area czp.to_sym, class: "form-control" %>
        </div>
      <% end %>

      <% ["live_run", "live_keymap", "live_param", "live_batch"].each do |czp| %>
        <div class="form-group col-md-6">
          <%= f.label czp.to_sym %>
          <%= f.text_area czp.to_sym, class: "form-control" %>
        </div>
      <% end %>

      <% ["prerun0", "postrun0", "prerun1", "postrun1", "prerun2", "postrun2", "prerun3", "postrun3", "prerun4", "postrun4"].each do |czp| %>
        <div class="form-group col-md-6">
          <%= f.label czp.to_sym %>
          <%= f.text_area czp.to_sym, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div> <!-- End of Well -->
<% end %>