<div class="col-md-3">

  <!-- What is displayed on screen -->

    <!-- Checking if it's a top category -->
    <% if @parentCategory.present? %>
    <h3>Sub-Categories</h3>
    <!-- New category button (Top level category) -->
    <%= button_tag 'New Category', class: "btn btn-warning btn-sm", "data-toggle" => "modal", "data-target" => "#newCategory" %>
    <hr>
      <!-- Side navigation -->
      <div class="list-group">
        <% @parentCategory.categories.each do |cat| %>
          <%= link_to cat.name, category_path(cat), class: "list-group-item" %>
        <% end %>
      </div>
    <% else %>
      <div class="list-group">
        <% @categories.each do |cat| %>
          <%= link_to cat.name, category_path(cat), class: "list-group-item" %>
        <% end %>
      </div>
    <% end %>

</div>

  <div id="newCategory" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <%= button_tag class: "close", "data-dismiss" => "modal" do %>
            &times;
          <% end %>
          <h4 class="modal-title">New Category</h4>
        </div>

        <div class="modal-body">
          <%= form_for @newCategory do |f| %>
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :name %></span>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="input-group">
              <span class="input-group-addon"><%= f.label :description %></span>
              <%= f.text_area :description, class: "form-control" %>
            </div>
        </div>

        <div class="modal-footer">
            <%= f.submit 'Submit', class: "btn btn-primary" %>
            <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
          <% end %>
        </div>
      </div>

    </div><!-- End of Modal Dialog -->
  </div><!-- End of Modal -->