<div class="col-xs-2">
<% if @parentCategory != nil %>
  <%= link_to category_path(@parentCategory), class: "btn btn-sm btn-warning" do %>
  <span class="glyphicon glyphicon-arrow-left"></span><%= " Back to #{@parentCategory.name}" %>
  <% end %>
<% end %>
  <!-- What is displayed on screen -->

    <!-- Checking if it's a top category -->
    <% if @parentCategory.present? %>
      <div class="page-header">
        <h2><%= @parentCategory.name %></h2>
      </div>
    <!-- New category button (Top level category) -->
<!--     <%= button_tag 'New Category', class: "btn btn-warning btn-sm", "data-toggle" => "modal", "data-target" => "#newCategory" %>
    <hr> -->
      <!-- Side navigation -->
      <div class="list-group">
        <% @parentCategory.categories.where(is_enabled: 1).order(:name).each do |cat| %>
          <%= link_to cat.name, category_path(cat), class: "list-group-item" %>
        <% end %>
      </div>
    <% else %>
      <div class="list-group">
        <% @categories.where(is_enabled: 1).order(:name).each do |cat| %>
          <%= link_to cat.name, category_path(cat), class: "list-group-item" %>
        <% end %>
      </div>
    <% end %>

</div>

  <div id="newCategory" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <%= button_tag class: "close", "data-dismiss" => "modal" do %>
            &times;
          <% end %>
          <h4 class="modal-title">New Category</h4>
        </div>

        <div class="modal-body">
          <%= form_for @newCategory do |f| %>
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :name %></span>
              <%= f.text_field :name, class: "form-control" %>
            </div>
        </div>

        <div class="modal-footer">
            <%= f.submit 'Submit', class: "btn btn-primary" %>
            <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
          <% end %>
        </div>
      </div>

    </div><!-- End of Modal Dialog -->
  </div><!-- End of Modal -->