  <div class="col-xs-3">

    <div class="page-header">
      <h1>Categories</h1>
    </div>

    <div class="list-group">
      <% @categories.each do |cat| %>
        <%= link_to cat.name, category_path(cat.id), class: "list-group-item" %>
      <% end %>
    </div>

    <hr>

    <%= button_tag 'New Category', class: "btn btn-warning btn-sm", "data-toggle" => "modal", "data-target" => "#newCategory" %>

  <!-- New Category Modal diaglogue -->
    <div class="modal fade" id="newCategory" tabindex="1" role="dialog" aria-labelledby="newCategoryLabel" aria-hidden="true">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-miss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Category</h4>
          </div>

          <div class="modal-body">
          <%= form_for @newCategory do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :description %>
            <%= f.text_field :description %>
          </p>
          <p>
            <%= f.check_box :is_enabled %>
            <%= f.label "Enabled?" %>
          </p>
          <p>
            <%= f.submit %>
          </p>
          <% end %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>

    </div>

  </div>