<%= form_with model: @qa, local: true do |form| %>
  <div class="actions">
    <%= hidden_field_tag 'keyfileid', @qas.id %>
    <%= hidden_field_tag 'idsid', params[:idsid] %>
    <%= hidden_field_tag 'hostname', params[:hostname] %>
    <%= hidden_field_tag 'capturedate', params[:capturedate] %>
    <%= hidden_field_tag 'imagedescription', params[:imagedescription] %>
    <%= hidden_field_tag 'imagetype', params[:imagetype] %>
    <%= hidden_field_tag 'imageinitials', params[:imageinitials] %>
    <%= hidden_field_tag 'mac', params[:mac] %>
    <%= hidden_field_tag 'uuid', params[:uuid] %>
    <%= hidden_field_tag 'bios', params[:bios] %>
    <%= hidden_field_tag 'legalnotice', params[:legalnotice] %>
    <%= hidden_field_tag 'winver', params[:winver] %>
    <%= hidden_field_tag 'issixtyfourbit', params[:issixtyfourbit] %>
    <%= hidden_field_tag 'winreleaseid', params[:winreleaseid] %>
    <%= hidden_field_tag 'winacttype', params[:winacttype] %>
    <%= hidden_field_tag 'winupdatecheck', params[:winupdatecheck] %>
    <%= hidden_field_tag 'bitlockerstatus', params[:bitlockerstatus] %>
    <%= hidden_field_tag 'useraccount', params[:useraccount] %>
    <%= hidden_field_tag 'accountlogo', params[:accountlogo] %>
    <%= hidden_field_tag 'wallpaper', params[:wallpaper] %>
    <%= hidden_field_tag 'fonts', params[:fonts] %>
    <%= hidden_field_tag 'servicewinupdate', params[:servicewinupdate] %>
    <%= hidden_field_tag 'startuponedrive', params[:startuponedrive] %>
    <%= hidden_field_tag 'securityhealth', params[:securityhealth] %>
    <%= hidden_field_tag 'settingfeedback', params[:settingfeedback] %>
    <%= hidden_field_tag 'settingnotify1', params[:settingnotify1] %>
    <%= hidden_field_tag 'settingnotify2', params[:settingnotify2] %>
    <%= hidden_field_tag 'settingwifi', params[:settingwifi] %>
    <%= hidden_field_tag 'powerplan', params[:powerplan] %>
    <%= hidden_field_tag 'trayicon', params[:trayicon] %>
    <%= hidden_field_tag 'uac', params[:uac] %>
    <%= hidden_field_tag 'autorun', params[:autorun] %>
    <%= hidden_field_tag 'wirelessautoconnect', params[:wirelessautoconnect] %>
    <%= hidden_field_tag 'devicemanager', params[:devicemanager] %>
    <%= hidden_field_tag 'eventviewapp', params[:eventviewapp] %>
    <%= hidden_field_tag 'eventviewsys', params[:eventviewsys] %>
    <%= hidden_field_tag 'chromever', params[:chromever] %>
    <%= hidden_field_tag 'edgenewtab', params[:edgenewtab] %>
    <%= hidden_field_tag 'edgehomebutton', params[:edgehomebutton] %>
    <%= hidden_field_tag 'edgehomepagebutton', params[:edgehomepagebutton] %>
    <%= hidden_field_tag 'firefoxver', params[:firefoxver] %>
    <%= hidden_field_tag 'flashver', params[:flashver] %>
    <%= hidden_field_tag 'javaver', params[:javaver] %>
    <%= hidden_field_tag 'mcafeeagentver', params[:mcafeeagentver] %>
    <%= hidden_field_tag 'mcafeevsever', params[:mcafeevsever] %>
    <%= hidden_field_tag 'officever', params[:officever] %>
    <%= hidden_field_tag 'vlcver', params[:vlcver] %>
    <%= hidden_field_tag 'vlcconf', params[:vlcconf] %>
    <%= hidden_field_tag 'sevenzipver', params[:sevenzipver] %>
    <%= hidden_field_tag 'flashsettings', params[:flashsettings] %>
    <%= hidden_field_tag 'startupjava', params[:startupjava] %>
    <%= hidden_field_tag 'vlcshortcut', params[:vlcshortcut] %>
    <%= hidden_field_tag 'pptshortcut', params[:pptshortcut] %>
    <%= hidden_field_tag 'timershortcut', params[:timershortcut] %>
    <%= hidden_field_tag 'wmpshortcut', params[:wmpshortcut] %>
    <%= hidden_field_tag 'mcafeelastupdate', params[:mcafeelastupdate] %>
    <%= hidden_field_tag 'officepptfix', params[:officepptfix] %>
    <%= hidden_field_tag 'act', params[:act] %>
    <%= hidden_field_tag 'offact', params[:offact] %>
    <%= hidden_field_tag 'eclear', params[:eclear] %>
    <%= hidden_field_tag 'updatescript', params[:updatescript] %>
    <%= hidden_field_tag 'description', params[:description] %>
    <%= hidden_field_tag 'officeinstructions', params[:officeinstructions] %>

    <%= form.submit %>
  </div>

<% end %>
