<h3>
  System Audit
</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Attribute</th>
    <th>Current Value</th>
    <th>Appropriate Value</th>
    <th>Pass/Fail</th>
  </thead>
  <% dataindex = {'BIOS Version' => 'bios', 'Computer Description' => 'description', 'Legal Notice' => 'legalnotice', 'Office Version' => 'officever', 'Office Instructions' => 'officeinstructions'} %>
  <% dataindex.each do |x, p| %>
      <%if @qas.send(p) == "VARIES - Check Manually" %>
        <% c = "warning"  %>
      <% elsif reportdata[p] == @qas.send(p) %>
        <% c = "success" %>
      <% else %>
        <% c = "danger"%>
      <% end %>
  <tr class="<%= c %>">
    <td><%= x %></td>
    <!-- Check for Binary Encoding, Output Current Value -->
    <% if reportdata[p] == '0' %>
      <td>Disabled</td>
    <% elsif reportdata[p] == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= reportdata[p] %></td>
    <% end %>
    <!-- Check for Binary Encoding, Output Appropriate Value -->
    <% if @qas.send(p) == '0' %>
      <td>Disabled</td>
    <% elsif @qas.send(p) == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= @qas.send(p) %></td>
    <% end %>
  <!-- Data Comparison -->
    <% if @qas.send(p) == "VARIES - Check Manually" %>
      <td class="check">CHECK</td>
    <% elsif reportdata[p] == @qas.send(p) %>
      <td class="pass">PASS</td>
    <% else %>
      <td class="fail">FAIL</td>
    <% end %>
  <% end %>
  </tr>
</table>

<h3>
  Windows Audit
</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Attribute</th>
    <th>Current Value</th>
    <th>Appropriate Value</th>
    <th>Pass/Fail</th>
  </thead>
  <% dataindex = {'Windows Version' => 'winver', 'Windows Release ID' => 'winreleaseid', 'Windows Activation Type' => 'winacttype', 'Windows Updates Last Checked' => 'winupdatecheck', 'Windows Update Service' => 'servicewinupdate', 'Bitlocker Status' => 'bitlockerstatus'} %>
  <% dataindex.each do |x, p| %>
      <%if @qas.send(p) == "VARIES - Check Manually" %>
        <% c = "warning"  %>
      <% elsif reportdata[p] == @qas.send(p) %>
        <% c = "success" %>
      <% else %>
        <% c = "danger"%>
      <% end %>
  <tr class="<%= c %>">
    <td><%= x %></td>
    <!-- Check for Binary Encoding, Output Current Value -->
    <% if reportdata[p] == '0' %>
      <td>Disabled</td>
    <% elsif reportdata[p] == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= reportdata[p] %></td>
    <% end %>
    <!-- Check for Binary Encoding, Output Appropriate Value -->
    <% if @qas.send(p) == '0' %>
      <td>Disabled</td>
    <% elsif @qas.send(p) == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= @qas.send(p) %></td>
    <% end %>
    <!-- Data Comparison -->
    <% if @qas.send(p) == "VARIES - Check Manually" %>
      <td class="check">CHECK</td>
    <% elsif reportdata[p] == @qas.send(p) %>
      <td class="pass">PASS</td>
    <% else %>
      <td class="fail">FAIL</td>
    <% end %>
  <% end %>
  </tr>
</table>

<h3>
  IDDR Customizations
</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Attribute</th>
    <th>Current Value</th>
    <th>Appropriate Value</th>
    <th>Pass/Fail</th>
  </thead>
  <% dataindex = {'User Account' => 'useraccount', 'Intel Account Logo' => 'accountlogo', 'Intel Wallpaper' => 'wallpaper', 'Intel Fonts' => 'fonts'} %>
  <% dataindex.each do |x, p| %>
      <%if @qas.send(p) == "VARIES - Check Manually" %>
        <% c = "warning"  %>
      <% elsif reportdata[p] == @qas.send(p) %>
        <% c = "success" %>
      <% else %>
        <% c = "danger"%>
      <% end %>
  <tr class="<%= c %>">
    <td><%= x %></td>
    <!-- Check for File Hash -->
    <% if p == 'wallpaper' %>
      <% if reportdata[p] == @qas.send(p) %>
        <td>Enabled</td>
      <% else %>
        <td>Disabled</td>
      <% end %>
    <% else %>
      <!-- Check for Binary Encoding, Output Current Value -->
      <% if reportdata[p] == '0' %>
        <td>Disabled</td>
      <% elsif reportdata[p] == '1' %>
        <td>Enabled</td>
      <% else %>
        <td><%= reportdata[p] %></td>
      <% end %>
    <% end %>
    <% if p == 'wallpaper' %>
      <td>Enabled</td>
      </td>
    <% else %>
      <!-- Check for Binary Encoding, Output Appropriate Value -->
      <% if @qas.send(p) == '0' %>
        <td>Disabled</td>
      <% elsif @qas.send(p) == '1' %>
        <td>Enabled</td>
      <% else %>
        <td><%= @qas.send(p) %></td>
      <% end %>
    <% end %>
    <!-- Data Comparison -->
    <% if @qas.send(p) == "VARIES - Check Manually" %>
      <td class="check">CHECK</td>
    <% elsif reportdata[p] == @qas.send(p) %>
      <td class="pass">PASS</td>
    <% else %>
      <td class="fail">FAIL</td>
    <% end %>
  <% end %>
  </tr>
</table>

<h3>
  System Functionality
</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Attribute</th>
    <th>Current Value</th>
    <th>Appropriate Value</th>
    <th>Pass/Fail</th>
  </thead>
  <% dataindex = {'Wireless Auto Connect' => 'wirelessautoconnect', 'Device Manager' => 'devicemanager', 'Event Viewer App' => 'eventviewapp', 'Event Viewer Sys' => 'eventviewsys'} %>
  <% dataindex.each do |x, p| %>
      <%if @qas.send(p) == "VARIES - Check Manually" %>
        <% c = "warning"  %>
      <% elsif reportdata[p] == @qas.send(p) %>
        <% c = "success" %>
      <% else %>
        <% c = "danger"%>
      <% end %>
    <% p == 'eventviewapp' || p == 'eventviewsys' ? reportdata[p] == @qas.send(p) ? c = "success" : c = 'info' : nil %>
  <tr class="<%= c %>">
    <td><%= x %></td>
    <!-- Output Current Value -->
    <td><%= reportdata[p] %></td>
    <!-- Output Appropriate Value -->
    <td><%= @qas.send(p) %></td>
    <!-- Data Comparison -->
    <% if @qas.send(p) == "VARIES - Check Manually" %>
      <td class="check">CHECK</td>
    <% elsif reportdata[p] == @qas.send(p) %>
      <td class="pass">PASS</td>
    <% elsif p == 'eventviewapp' or p == 'eventviewsys' %>
      <td class="potential">POTENTIAL ISSUES</td>
    <% else %>
      <td class="fail">FAIL</td>
    <% end %>
  <% end %>
  </tr>
</table>

<h3>
  Browsers
</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Attribute</th>
    <th>Current Value</th>
    <th>Appropriate Value</th>
    <th>Pass/Fail</th>
  </thead>
  <% dataindex = {'Edge New Tab Setting' => 'edgenewtab', 'Edge Home Button Setting' => 'edgehomebutton', 'Edge Homepage URL' => 'edgehomepagebutton', 'FireFox Version' => 'firefoxver'} %>
  <% dataindex.each do |x, p| %>
      <%if @qas.send(p) == "VARIES - Check Manually" %>
        <% c = "warning"  %>
      <% elsif reportdata[p] == @qas.send(p) %>
        <% c = "success" %>
      <% else %>
        <% c = "danger"%>
      <% end %>
  <tr class="<%= c %>">
    <td><%= x %></td>
    <!-- Check for Binary Encoding, Output Current Value -->
    <% if reportdata[p] == '0' %>
      <td>Disabled</td>
    <% elsif reportdata[p] == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= reportdata[p] %></td>
    <% end %>
    <!-- Check for Binary Encoding, Output Appropriate Value -->
    <% if @qas.send(p) == '0' %>
      <td>Disabled</td>
    <% elsif @qas.send(p) == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= @qas.send(p) %></td>
    <% end %>
    <!-- Data Comparison -->
    <% if @qas.send(p) == "VARIES - Check Manually" %>
      <td class="check">CHECK</td>
    <% elsif reportdata[p] == @qas.send(p) %>
      <td class="pass">PASS</td>
    <% else %>
      <td class="fail">FAIL</td>
    <% end %>
  <% end %>
  </tr>
</table>

<h3>
  Lab Scripts
</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Attribute</th>
    <th>Current Value</th>
    <th>Appropriate Value</th>
    <th>Pass/Fail</th>
  </thead>
  <% dataindex = {'Activation Script' => 'act', 'Office Activation Script' => 'offact', 'Decontamination Script (eclear)' => 'eclear', 'Windows Update Script' => 'updatescript'} %>
  <% dataindex.each do |x, p| %>
      <%if @qas.send(p) == "VARIES - Check Manually" %>
        <% c = "warning"  %>
      <% elsif reportdata[p] == @qas.send(p) %>
        <% c = "success" %>
      <% else %>
        <% c = "danger"%>
      <% end %>
  <tr class="<%= c %>">
    <td><%= x %></td>
    <!-- Check for Binary Encoding, Output Current Value -->
    <% if reportdata[p] == '0' %>
      <td>Disabled</td>
    <% elsif reportdata[p] == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= reportdata[p] %></td>
    <% end %>
    <!-- Check for Binary Encoding, Output Appropriate Value -->
    <% if @qas.send(p) == '0' %>
      <td>Disabled</td>
    <% elsif @qas.send(p) == '1' %>
      <td>Enabled</td>
    <% else %>
      <td><%= @qas.send(p) %></td>
    <% end %>
    <!-- Data Comparison -->
    <% if @qas.send(p) == "VARIES - Check Manually" %>
      <td class="check">CHECK</td>
    <% elsif reportdata[p] == @qas.send(p) %>
      <td class="pass">PASS</td>
    <% else %>
      <td class="fail">FAIL</td>
    <% end %>
  <% end %>
  </tr>
</table>
