<!-- Let User Know that Report was Saved -->
<% if flash[:notice] %>
  <p>
    <%= flash[:notice] %>
  </p>
<% end %>

<!-- Determine if Data is From URL Parameters or From DB -->
<% if params[:idsid] %>
  <% reportdata = params %>
<% else %>
  <% reportdata = @data.attributes %>
<% end %>

<!-- Generate Report -->
<div class="jumbotron text-center">
<h2>Intel Demo Depot Integrated Configuration System<h2>
<h3>Quality Assurance Report: Windows 10</h3>
<h4>Revision 3.0.0</h4>
<h3>Computer Name: <%= reportdata['hostname'] %></h3>
<!-- <h4>UUID: <reportdata['uuid'] %></h4>
<h4>MAC: < reportdata['mac'] %></h4> -->
<h4>Image Type: <%= reportdata['imagetype'] %></h4>
</div>
<!-- Determine Type of Report to Render -->
<% if reportdata['imagetype'] == "USDD" %>
  <%= render partial: 'usdd', locals: { reportdata: reportdata } %>

<% elsif reportdata['imagetype'] == "iDDR" %>
  <%= render partial: 'iddr', locals: { reportdata: reportdata } %>

<% end %>
