<!-- Let User Know that Report was Saved -->
<% if flash[:notice] %>
  <p>
    <%= flash[:notice] %>
  </p>
<% end %>

<!-- Determine if Data is From URL Parameters or From DB -->
<% if params[:idsid] %>
  <% reportdata = params %>
<% else %>
  <% reportdata = @data.attributes %>
<% end %>

<!-- Generate Report -->
<div class="jumbotron text-center">
<h3><strong>Integrated Configuration System</strong> | <strong>Quality Assurance Report v3.0.0</strong></h3>
<h4><strong>Work Order:</strong> <%= reportdata['workorder'] %> | <strong>Image Type:</strong> <%= reportdata['imagetype'] %> | <strong>Computer Name:</strong> <%= reportdata['hostname'] %> | <strong>Submitter:</strong> <%= reportdata['idsid'] %></h4>
<h5><strong>MAC:</strong> <%= reportdata['mac'] %></h5>
<!-- <h4>UUID: <reportdata['uuid'] %></h4> -->
</div>

<!-- Determine Type of Report to Render -->
<% if reportdata['imagetype'] == "USDD" %>
  <%= render partial: 'usdd', locals: { reportdata: reportdata } %>

<% elsif reportdata['imagetype'] == "iDDR" %>
  <%= render partial: 'iddr', locals: { reportdata: reportdata } %>

<% end %>
