<%= render 'layouts/error' %>

<H1>View All</H1>

<table class="table table-striped table-hover col-offset-xs-1">
  <thead>
    <th>
      Hostname
    </th>
    <th>
      Submitter
    </th>
    <th>
      Image Type
    </th>
    <th>
      QC Date
    </th>
  </thead>

<% @datas.each do |datas| %>
  <tr>
    <td>
      <%= datas.hostname %>
    </td>
    <td>
      <%= datas.idsid %>
    </td>
    <td>
      <%= datas.imagetype %>
    </td>
    <td>
      <%= link_to datas.created_at.strftime("%B %d, %Y"), view_results_path(datas) %>
    </td>
  </tr>
<% end %>
</table>
