<div class="row">

<div class="col-md-3">

  <%= render 'systems/list' %>

</div>

<div class="col-xs-8">

  <div class="jumbotron">
    <h2><%= @system.name %></h2>
    <%= button_tag 'New Image', class: "btn btn-warning btn-sm", "data-toggle" => "modal", "data-target" => "#newSystem" %>
  </div>


    <table class="table table-stripped table-hover">
      <thead>
        <th></th>
        <th>Pool</th>
        <th>Name</th>
        <th>Type</th>
        <th>Operating System</th>
        <th>Clonezilla Version</th>
        <th>Last Updated</th>
      </thead>
      <tbody>
      <% n = 1 %>
      <% @system.images.each do |t| %>
        <tr>
          <td><%= link_to 'Edit', edit_category_system_image_path(@category, @system, t) %></td>
          <td><%= t.pool.name %></td>
          <td><%= t.name %></td>
          <td><%= t.image_type.name %></td>
          <td><%= t.ose.name %></td>
          <td><%= t.clonezilla_version.name %></td>
          <td><%= t.updated_at.strftime("%m%b%Y") %></td>
        </tr>
        <% n += 1 %>
      <% end %>
      </tbody>
    </table>

  </div>

  <div id="newSystem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <%= button_tag class: "close", "data-dismiss" => "modal" do %>
              &times;
            <% end %>
            <h4 class="modal-title">New Image</h4>
          </div>

          <div class="modal-body">
            <%= form_for [@category, @system, @system.images.build] do |f| %>
              <p>
                <%= f.label :name %>
                <%= f.text_field :name %>
              </p>
              <p>
                <%= f.label :description %>
                <%= f.text_area :description %>
              </p>
              <p>
                <%= f.label :disk %>
                <%= f.text_field :disk, value: @system.default_disk %>
              </p>
              <p>
                <%= f.label :image_type %>
                <%= f.collection_select :image_type_id, @image_types, :id, :name, include_blank: true %>
              </p>
              <p>
                <%= f.label :pool %>
                <%= f.collection_select :pool_id, @pools, :id, :name, include_blank: true %>
              </p>
              <p>
                <%= f.label :ose %>
                <%= f.collection_select :ose_id, @oses, :id, :name, include_blank: true %>
              </p>
              <p>
                <%= f.label :image_status %>
                <%= f.collection_select :image_status_id, @imagesStatuses, :id, :name, include_blank: true %>
              </p>
              <p>
                <%= f.label :clonezilla_version %>
                <%= f.collection_select :clonezilla_version_id, @clonezillas, :id, :name, include_blank: true %>
              </p>
          </div>

          <div class="modal-footer">
              <%= f.submit 'Create Image', class: "btn btn-warning"  %>
              <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
            <% end %>
          </div>
        </div>

    </div>
  </div>

</div>