<%= render 'layouts/supports/categorieslist' %>

  <div class="col-sm-10">

      <%= render 'layouts/error' %>

          <div class="jumbotron">
      <div class="row">
        <div class="col">
            <% if @category.category_id.present? %>
              <%= form_for @category do |f| %>
              <div class="row">
                <div class="input-group mb-3">
                  <div class="col-md-4">
                    <%= f.text_field :name, class: "form-control form-control-lg" %>
                  </div>
                </div>
              </div><!-- End of Row for Input of Name -->
              <div class="row">
                <div class="btn-group">
                  <%= f.submit 'Update', class: "btn btn-primary" %>
              <% end %>
                  <% if @category.is_enabled == "1" %>
                    <%= button_to 'Archive', category_path(@category), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn  btn-danger" %>
                  <% else %>
                    <%= button_to 'Enable', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn  btn-success" %>
                  <% end %>
                </div>
              </div><!-- End of Row for Update / Archive -->

                <br>
            <% else %>
              <h1><%= @category.name %></h1>
            <% end %>
            <%= button_tag 'New SubCategory', class: "btn btn-sm btn-success", "data-toggle" => "modal", "data-target" => "#newSubCat" %>
            <%= button_tag 'New System', class: "btn btn-sm btn-success", "data-toggle" => "modal", "data-target" => "#newSystem" %>
          </div>
        </div>
      </div>

    <div class="container-fluid">
    <div class="row">
    <% if @subcategories.present? %>
        <div class="col">

        <h2 class="text-center">Sub-Categories</h2>
        <hr>

          <div class="card-columns" >
            <% @subcategories.each do |t| %>
                <%= link_to category_path(t.id) do %>
                <div class="card text-center">
                  <div class="card-body">
                    <h2 class="card-title font-weight-bold text-body"><%= t.name %></h2>
                  </div>
                </div>
                <% end %>
            <% end %>
          </div>

        </div>
    <% end %>

      <% if @systems.present? %>
          <div class="col">
        <h2 class="text-center">
          Systems
        </h2>
        <hr>
        <div class="card-columns" >
          <% @systems.each do |sys| %>
            <%= link_to category_system_path(@category, sys) do %>
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title font-weight-bold text-body text-center"><%= sys.name %></h2>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
        </div>
    </div><!-- End of Row -->

  </div> <!-- End of Column -->


<div class="modal fade" role="dialog" id="newSubCat">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New SubCategory</h4>
      </div>

      <div class="modal-body">
        <%= form_for @subcategory do |f| %>
          <div class="input-group mb-3">
            <%= f.hidden_field :category_id, value: @category.id %>
            <div class="input-group-prepend">
              <%= f.label :name, class: "input-group-text" %>
            </div>
            <%= f.text_field :name, class: "form-control" %>
          <br>
          </div>
      </div>

      <div class="modal-footer">
        <%= f.submit 'Create Category', class: "btn btn-success" %>
        <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal", "aria-label" => "Close" %>
      </div>
      <% end %>

    </div>
  </div><!-- End of new sub category modal -->
  </div>

<!-- Start of Modal for New System -->
<div class="modal fade" role="dialog" id="newSystem">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New System</h4>
      </div>

      <div class="modal-body">
        <%= form_for([@category, @category.systems.build]) do |f| %>
          <%= f.hidden_field :category_id, value: @category.id %>

          <div class="input-group mb-3">
            <span class="input-group-prepend">
              <%= f.label :name, class: "input-group-text" %>
            </span>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-prepend">
              <%= f.label :default_disk, class: "input-group-text" %>
            </span>
            <%= f.text_field :default_disk, class: "form-control" %>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-prepend">
              <%= f.label :description, class: "input-group-text" %>
            </span>
            <%= f.text_area :description, class: "form-control" %>
          </div>

      </div>

      <div class="modal-footer">
        <%= f.submit 'Create System', class: "btn btn-success" %>
        <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal", "aria-label" => "Close" %>
      </div>
      <% end %>
    </div>

    </div><!-- End of Modal Dialog -->
</div> <!-- End of Modal newSystem -->

