
<%= render 'categories/layout/list' %>

  <div class="col-md-9">

      <%= render 'layouts/error' %>

      <div class="row">
        <div class="jumbotron">
          <% if @category.category_id.present? %>
            <%= form_for @category do |f| %>
                <div class="input-group">
                <p>
                  <%= f.text_field :name, class: "form-control input-lg" %>
                </p>
                <p>
                  <%= f.submit 'Update', class: "btn btn-sm btn-primary" %>

                  <% if @category.is_enabled == "1" %>
                    <%= button_to 'Archive', category_path(@category), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
                  <% else %>
                    <%= button_to 'Enable', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-success" %>
                  <% end %>
                  </p>
                </div>
             <% end %>
          <% else %>
            <h1><%= @category.name %></h1>
            <h4><%= @category.file_location %></h4>
          <% end %>
          <%= button_tag 'New SubCategory', class: "btn btn-sm btn-success", "data-toggle" => "modal", "data-target" => "#newSubCat" %>
          <%= button_tag 'New System', class: "btn btn-sm btn-success", "data-toggle" => "modal", "data-target" => "#newSystem" %>
        </div>
      </div>

    <div class="row">

    <% if @subcategories.present? %>
      <% if @systems.present? %>
        <div class="col-xs-6">
      <% end %>

        <h2 class="text-center">Sub-Categories</h2>

        <hr>

       <table class="table table-hover table-responsive table-striped">
          <thead>
            <td></td>
            <th>Name</th>
          </thead>
          <tbody>
            <% @subcategories.each do |t| %>
              <tr data-link="<%=category_path(t.id)%>">
                <td><%= link_to 'View', category_path(t.id) %></td>
                <td><%= t.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% if @systems.present? %>
        </div>
      <% end %>
    <% end %>

      <% if @systems.present? %>
        <% if @subcategories.present? %>
          <div class="col-xs-6">
        <% end %>
        <h2 class="text-center">Systems</h2>
        <hr>
        <table class="table table-hover table-striped">
          <thead>
            <th></th>
            <th>Name</th>
            <th>Default Disk</th>
          </thead>
          <tbody>
            <% @systems.each do |sys| %>
              <tr>
                <td><%= link_to 'View', category_system_path(@category, sys) %></td>
                <td><%= sys.name %></td>
                <td><%= sys.default_disk %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @subcategories.present? %>
        </div>
      <% end %>
    </div><!-- End of Row -->

  </div> <!-- End of Column -->


<div class="modal fade" role="dialog" id="newSubCat">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New SubCategory</h4>
      </div>

      <div class="modal-body">
        <%= form_for @subcategory do |f| %>
          <div class="form-group">
            <%= f.hidden_field :category_id, value: @category.id %>
          </div>

          <div class="input-group">
          <span class="input-group-addon"><%= f.label :name %></span>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <br>
      </div>

      <div class="modal-footer">
        <%= f.submit 'Create Category', class: "btn btn-success" %>
        <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal", "aria-label" => "Close" %>
      </div>
      <% end %>

    </div>
  </div><!-- End of new sub category modal -->
  </div>

<!-- Start of Modal for New System -->
<div class="modal fade" role="dialog" id="newSystem">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New System</h4>
      </div>

      <div class="modal-body">
        <%= form_for([@category, @category.systems.build]) do |f| %>
          <%= f.hidden_field :category_id, value: @category.id %>

          <div class="input-group">
            <span class="input-group-addon"><%= f.label :name %></span>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon"><%= f.label :default_disk %></span>
            <%= f.text_field :default_disk, class: "form-control" %>
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-addon"><%= f.label :description %></span>
            <%= f.text_area :description, class: "form-control" %>
          </div>

      </div>

      <div class="modal-footer">
        <%= f.submit 'Create System', class: "btn btn-success" %>
        <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal", "aria-label" => "Close" %>
      </div>
      <% end %>
    </div>

    </div><!-- End of Modal Dialog -->
</div> <!-- End of Modal newSystem -->

<%= console %>