
<%= render 'categories/layout/list' %>

  <div class="col-xs-8">
      <div class="row">
        <div class="jumbotron">
          <h1><%= @category.name %></h1>
        <%= button_tag 'New SubCategory', class: "btn btn-sm btn-warning", "data-toggle" => "modal", "data-target" => "#newSubCat" %>
        <%= button_tag 'New System', class: "btn btn-sm btn-warning", "data-toggle" => "modal", "data-target" => "#newSystem" %>
        </div>
      </div>

    <div class="row">

    <% if @subcategories.present? %>
      <table class="table table-hover table-responsive table-striped">
        <thead>
          <th></th>
          <th>#</th>
          <th>Name</th>
          <th>Slug</th>
          <th>Created</th>
          <th>Last Modified</th>
        </thead>
        <tbody>
          <%  n = 1 %>
          <% @subcategories.each do |t| %>
            <tr>
              <td><%= link_to 'View', category_sublevel_1_path(params[:id], t.id) %></td>
              <td><%= n %></td>
              <td><%= t.name %></td>
              <td><%= t.slug %></td>
              <td><%= t.created_at %></td>
              <td><%= t.updated_at %></td>
              <td><%= link_to 'Edit', edit_category_sublevel_1_path(params[:id], t.id) %></td>
            </tr>
            <% n +=1 %>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <% if @systems.present? %>
        <table class="table table-hover table-striped">
          <thead>
            <th></th>
            <th>#</th>
            <th>Name</th>
          </thead>
          <tbody>
        <% n = 1 %>
            <% @systems.each do |sys| %>
              <tr>
                <td>View</td>
                <td><% n %></td>
                <td><% sys.name %></td>
              </tr>
              <% n += 1 %>
            <% end %>
            <tr>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div><!-- End of Row -->

  </div> <!-- End of Column -->


<div class="modal fade" role="dialog" id="newSubCat">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New SubLevel</h4>
      </div>

      <div class="modal-body">
        <%= form_for @subcategory do |f| %>
          <div class="form-group">
            <%= f.label 'Category: ' %>
            <%= f.collection_select :category_id, Category.where(:category_id => NIL, :is_enabled => 1).all, :id, :name, {include_blank: true, default: params[:id]}, {value: params[:id]} %>
          </div>

          <div class="input-group">
          <span class="input-group-addon"><%= f.label :name %></span>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><%= f.label :description %></span>
            <%= f.text_area :description, class: "form-control" %>
          </div>
      </div>

      <div class="modal-footer">
        <%= f.submit 'Create Category', class: "btn btn-warning" %>
        <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal", "aria-label" => "Close" %>
      </div>
      <% end %>

    </div>
  </div><!-- End of new sub category modal -->
  </div>

<!-- Start of Modal for New System -->
<div class="modal fade" role="dialog" id="newSystem">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New System</h4>
      </div>

      <div class="modal-body">
        <%= form_for @newSystem do |f| %>
          <div class="input-group">
          <span class="input-group-addon"><%= f.label :name %></span>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><%= f.label :description %></span>
            <%= f.text_area :description, class: "form-control" %>
          </div>
      </div>

      <div class="modal-footer">
        <%= f.submit 'Create System', class: "btn btn-warning" %>
        <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal", "aria-label" => "Close" %>
      </div>
      <% end %>
    </div>

    </div><!-- End of Modal Dialog -->
</div> <!-- End of Modal newSystem -->
