<div class="container">
    <div class="row">
        <div class="col">
            <%= render 'layouts/error' %>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="row"><!-- Start of the Row for setting Key locations -->
                
                <div class="col">
                    <h1>Root</h1>
                        <%= render 'updateRow', kitty: @root %>
                </div>

                <div class="col">
                    <h2>Localization</h2>
                        <%= render 'updateRow', kitty: @czLocals %>
                    </div>

            </div><!-- End of Row for key locations -->
        
                    <div class="row">


                    </div><!-- End of Clonezilla Files  Area -->

                </div>
            </div>
            <hr>
            <div class="row">
                
                <!-- Start of the Upload section -->
                <div class="col">
                    <h1 class="text-center">CZ Upload Default</h1>
                    <% @dup.each do |dup| %>
                        <%= render 'updateParaRow', kitty: dup %>
                    <% end %>
                </div>
                <!-- End of the Upload Section -->

                <!-- Start of the Download Section -->
                <div class="col">
                    <h1 class="text-center">CZ Download Default</h1>
                    <% @ddl.each do |ddl| %>
                        <%= render 'updateParaRow', kitty: ddl %>
                    <% end %>                
                </div>
            </div>
            
        </div>    
    </div>
</div>