
<%= render 'images/assets/allImages' %>

<div class="col-xs-9">
  <% c = 1 %> <!-- Staging the tab index -->

  <%= render 'layouts/error' %>

  <%= form_for [@category, @system, @image] do |f| %>
  <div class="row">
      <!-- <%= f.check_box :current %> -->
      <label class="imgTitle"><%= @system.name %></label>
<!--       <h4><%= @image.azkName %></h4> -->
      <h4><%= link_to "#{@image.location.location}#{@image.file_location}", "file://#{@image.location.location}#{@image.file_location}" %></h4>
  </div>
      <div class="row">
        <div class="col-xs-9">
          <div class="input-group">
            <span class="input-group-addon">Image Title</span>
            <%= f.text_field :name, class: "form-control input-lg" %>
          </div>
        </div>
      </div>
      <h3><%= @image.file_location.gsub!("\ "," ") %></h3>
    <hr>


      <div class="input-group">
        <span class="input-group-addon">Pools -</span>
        <%= f.collection_select :pool_id, @pools, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"} %>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Image Status -</span>
        <%= f.collection_select(:image_status_id, @image_statuses, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"})  %>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Disks - </span>
        <%= f.text_field :disk, id: "addDisk", class: "form-control" %>
        <% c += 1 %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Location - </span>
        <%= f.collection_select :location_id, @locations, :id, :name, {:include_blank => true},{"tabindex" => c, class: "form-control"} %>
        <% c += 1 %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Image Type -</span>
        <%= f.collection_select(:image_type_id, @image_types, :id, :name, { include_blank: true},{"tabindex" => c, class: "form-control"}) %>
      <% c += 1 %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">CloneZilla Version -</span>
        <%= f.collection_select(:clonezilla_version_id, @clonezillas, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"})  %>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Operating System -</span>
        <%= f.collection_select :ose_id, @oss, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"}%>
      <% c += 1%>
      </div>


    <%= f.submit %>

  <% end %>

    <% ["upload", "download"].each do |direction| %>

<!--       <div class="row">
        <h2>
          <%= button_tag class: "btn btn-info", "data-toggle" => "collapse", "data-target" => "#" + direction do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>

         <%= @image.send("#{direction}").purpose %>

        </h2>
      </div>

      <div class="row">
        <div id="<%= direction %>" class="row collapse">
          <%= render 'clonezilla_versions/assets/paraForm', locals: {junBug: @image.send("#{direction}"), clonezilla: @image.clonezilla_version_id} %>
        </div><!-- End of row that is collapsed with Grub Upload -->
      </div>

    <% end %> -->
</div><!-- End of Overall Column -->


</div>

