
<%= render 'images/assets/allImages' %>

<div class="col-xs-9">
  <% c = 1 %> <!-- Staging the tab index -->

  <div class="row">
      <h1><%= @system.name %></h1>
      <h2><%= @image.name %></h2>
      <h3><%= @image.file_location %></h3>
    <hr>
  </div>

  <%= form_for [@category, @system, @image] do |f| %>

      <div class="form_group">
        <label>Image Status -</label>
        <%= f.collection_select(:image_status_id, @image_statuses, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"})  %>
      <% c += 1%>
      </div>

      <div class="form_group">
        <label>CloneZilla Version -</label>
        <%= f.collection_select(:clonezilla_version_id, @clonezillas, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"})  %>
      <% c += 1%>
      </div>

      <div class="form_group">
        <label>Operating System -</label>
        <%= f.collection_select :ose_id, @oss, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"}%>
      <% c += 1%>
      </div>

      <div class="form_group">
        <label>Pools -</label>
        <%= f.collection_select :pool_id, @pools, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"} %>
      <% c += 1%>
      </div>


        <h3>Details</h3>
        <hr>

            <% ["disk", "flags", "flags_upload" ].each do |para| %>
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.label para.to_sym %>
                </span>
                <%= f.text_field para.to_sym, class: "form-control", "placeholder" => para.to_s, "tabindex" => c %>
              </div>
              <br>
              <% c += 1 %>
            <% end %>

           <% ["path", "loader_string"].each do |para| %>
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.label para.to_sym %>
                </span>
                <%= f.text_field para.to_sym, class: "form-control", "placeholder" => para.to_s, "tabindex" => c %>
              </div>
              <br>
              <% c += 1 %>

            <% end %>
              <%= f.submit "tabindex" => c %>
          <% end %>

        <div class="row">

          <div class="row">
            <div class="col-md-2">
              <%= button_tag class: "btn btn-warning", "data-toggle" => "collapse", "data-target" => "#advanced" do %>
                <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            </div>

            <div class="col-md-2">
              <h3>Advanced</h3>
            </div>

            <hr>

          </div>

          <div id="advanced" class="row collapse">
            <%= render 'clonezilla_versions/assets/paraForm', locals: {junBug: @image.grub_upload, item_id: @image.id} %>
          </div>

        </div>


</div><!-- End of Overall Column -->

  <div id="newNote" class="modal fade", role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <%= button_tag class: "close", "data-dismiss" => "modal" do %>
            &times;
          <% end %>
          <h4 class="modal-title">Notes</h4>
        </div>
        <div class="modal-body">
          <%= form_for [@category, @system, @image, @image.notes.build ] do |f| %>
            <div class="input-group">
              <span class="input-group-addon">Note</span>
              <%= f.text_area :information, class: "form-control", "placeholder" => "Notes" %>
            </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create" %>
          <% button_tag "Close", class: "btn btn-default", "data-dismiss" => "modal" %>
        </div>
      </div>

          <% end %>
    </div>
  </div>



</div>