
<%= render 'images/assets/allImages' %>

<div class="col-xs-9">
  <% c = 1 %> <!-- Staging the tab index -->

  <%= render 'layouts/error' %>

  <%= form_for [@category, @system, @image] do |f| %>
  <div class="row">
      <%= f.check_box :current %><label class="imgTitle"><%= @system.name %></label>
      <h4><%= @image.azkName %></h4>
      <h4><%= link_to "#{@netUpPath}#{@image.file_location}", "C:\\Users\\hezsy\\" %></h4>
  </div>
      <div class="row">
        <div class="col-xs-9">
          <div class="input-group">
            <span class="input-group-addon">Image Title</span>
            <%= f.text_field :name, class: "form-control input-lg" %>
          </div>
        </div>
      </div>
      <h3><%= @image.file_location.gsub!("\ "," ") %></h3>
    <hr>

      <div class="input-group">
        <span class="input-group-addon">Image Type -</span>
        <%= f.collection_select(:image_type_id, @image_types, :id, :name, { include_blank: true},{"tabindex" => c, class: "form-control"}) %>
      <% c += 1 %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Image Status -</span>
        <%= f.collection_select(:image_status_id, @image_statuses, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"})  %>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">CloneZilla Version -</span>
        <%= f.collection_select(:clonezilla_version_id, @clonezillas, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"})  %>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Operating System -</span>
        <%= f.collection_select :ose_id, @oss, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"}%>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Pools -</span>
        <%= f.collection_select :pool_id, @pools, :id, :name,{:include_blank => true},{"tabindex" => c, class: "form-control"} %>
      <% c += 1%>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Disks - </span>
        <%= f.text_field :disk, id: "addDisk", class: "form-control" %>
      </div>

    <%= f.submit %>

  <% end %>



</div><!-- End of Overall Column -->

</div>

