<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <%= link_to "Images", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Clonezilla Versions", clonezilla_versions_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Order Groups", pools_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Operating Systems", oses_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "QA", view_path, class: "nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Key",   autozilla_key_configs_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Support", support_stuffs_path, class: "nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Locations', locations_path, class: "nav-link" %>
        </li>

      </ul>
    </div>

    <ul class="navbar-nav justify-content-end">
      <% if logged_in? %>
        <%= link_to @current_user.username, user_path(@current_user), class: "nav-link" %>
        <%= link_to "Logout", logout_path, class: "nav-link" %>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</nav>