<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mainNavigation">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Clonezilla Versions", clonezilla_versions_path %></li>
        <li><%= link_to "Order Groups", pools_path %></li>
        <li><%= link_to "Operating Systems", oses_path %></li>
        <li><%= link_to "Admin Area", support_stuffs_path %></li>
        <li><%= link_to "Users", users_path %></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <%= button_tag 'Submit', class: "btn btn-sm btn-default" %>
      </form>
    </div>
  </div>
</nav>
  <div class="keyLocation">
    <%= link_to 'Link to the Key \\\\hv-clonezilla\\AzK', 'file://hv-clonezilla/Azk' %>
  </div>

