<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mainNavigation">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Clonezilla Versions", clonezilla_versions_path %></li>
        <li><%= link_to "Order Groups", pools_path %></li>
        <li><%= link_to "Operating Systems", oses_path %></li>
        <li><%= link_to "QA", view_path %></li>
        <li><%= link_to "Autozilla V1", "http://idds-adswamp01.amr.corp.intel.com" %></li>
      </ul>
      <form class="navbar-form navbar-right">
<!--         <div class="form-group">
  <% form_tag  method: :get, id: "search-form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Autozilla" %>
    <%= submit_tag 'Submit', class: "btn btn-sm btn-default", :name => nil %>
  <% end %>
</div> -->
      </form>
    </div>
  </div>
</nav>
  <div class="keyLocation">
    <%= link_to 'Link to the Key \\\\idd-autozilla.hf.intel.com\\AzK', 'file://idd-autozilla.hf.intel.com/Azk' %>
  </div>