<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <%= link_to "Images", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Clonezilla Versions", clonezilla_versions_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Order Groups", pools_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Operating Systems", oses_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "QA", view_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Autozilla V1", "http://idds-adswamp01.amr.corp.intel.com", class: "nav-link" %>
        </li>
      </ul>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to 'Login', login_path, class: "nav-link" %>
      </li>
    </ul>
</nav>
  <div class="keyLocation">
    <%= link_to 'Link to the Key \\\\idd-autozilla.hf.intel.com\\AzK', 'file://idd-autozilla.hf.intel.com/Azk' %>
  </div>

