<!DOCTYPE html>
<html>
  <head>
    <title>Autozilla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
    <div class="container-fluid">
      <div class="row upperRow">
        <%= image_tag "iddlogo.jpg", class: "img-responsive" %>
      </div>

      <div class="row">
        <%= render 'layouts/navigation' %>
      </div>

      <div class="row">
        <%= yield %>
      </div>

    </div><!-- End of Container -->
  </body>
</html>
