<!DOCTYPE html>
<html>
  <head>
    <title>Autozilla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/babel">
    ReactDOM.render(
      <h1>Testing</h1>,
      document.body
    );
  </script>

  </head>

  <body>
    <div class="row upperRow">
      <%= image_tag "iddlogo.jpg" %>
    </div>

    <%= render 'layouts/navigation' %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
