<!DOCTYPE html>
<html>
  <head>
    <title>Autozilla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
      <% if Rails.env.development? %>
      <div class="row bg-warning pt-2">
        <div class="container-fluid text-center">
          <h4>Development Site!</h4>
          <%= link_to 'Production Autozilla', "http://idd-autozilla.hf.intel.com" %>
        </div>
      </div>
      <% end %>

    <div class="container-fluid">

      <div class="row bg-dark">
        <div class="col">
          <%= render 'layouts/navigation' %>
        </div>
      </div>

      <div class="row">
        <%= yield %>
      </div>

    </div><!-- End of Container -->
  </body>
</html>

